html{

}

#page {
    background-color: lightyellow;
    border-color: pink;
    border-style: solid;
    border-width: 3px;
}


#nav {
    text-align:center;
    display: block;

}

h1{

}

h2 {

}

p{

}